.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2c3e50;
  color: #fff;
  font-weight: bold;
  position: relative;
}

.shopName {
  font-size: 1.5rem;
}

.actions {
  display: flex;
  gap: 1rem;
}

.profile, .logout {
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s;
}

/* .profile:hover, .logout:hover {
  color: #f39c12;
} */

/* Popup Modal */
.profilePopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fbfdfe;
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  color: #0d0d0d;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #0a0a0a;
  cursor: pointer;
}

.profileDetails p {
  margin: 0.5rem 0;
}

.editButton, .saveButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #8083e5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}



.editForm label {
  display: block;
  margin-bottom: 0.5rem;
}

.editForm input {
  width: 100%;
  padding: 0.3rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: none;
}
