.sidebar {
  width: 220px;
  background-color: #34495e;
  color: #fff;
  height: 100vh;
  padding-top: 2rem;
  flex-shrink: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 1rem 2rem;
  transition: background 0.3s;
}

.sidebar li:hover {
  background-color: #2c3e50;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.sidebar li.active {
  background-color: #1abc9c;
}
